.container {
  padding: 0 10px;
  width: fit-content;
  height: 100vh;
  overflow: scroll;
}
.tabs {
  color: #666666;
}

.tab {
  border-radius: 0;
  padding: 6px 21px;
  margin: 1px 0;
  max-width: 100%;
  max-height: 36px;
  cursor: pointer;
  display: flex;
  align-items: center;
  letter-spacing: 0.5px;
  font-size: small;
}

.tab p {
  margin: 0;
  font-weight: bold;
}

.tab span {
  display: none;
}

.tab svg {
  font-size: large;
  margin-right: 8px;
}

.tabTitle {
  color: #05579f;
  font-weight: bold;
  font-size: small;
  text-transform: none;
  align-items: baseline;
  margin-top: 28px;
  margin-bottom: 8px;
}

.tabLogo {
  display: flex;
}

/*Responsive*/
@media only screen and (max-width: 600px) {
  .container {
    padding: 0;
  }
  .tab p {
    display: none;
  }
  .tab span {
    display: flex;
  }
}
