.container {
  padding: 0 10px;
  width: fit-content;
  height: 100vh;
  overflow: scroll;
}
.tabs {
  color: #666666;
}

.tab {
  border-radius: 5px;
  padding: 6px 28px;
  margin: 6px 0;
  max-width: 100%;
  max-height: 36px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.tab span {
  align-self: baseline;
}

.tab svg {
  margin-right: 8px;
}

.tabTitle {
  color: #666666;
  text-transform: none;
  align-items: baseline;
  margin-top: 30px;
}

.tabLogo {
  display: flex;
  justify-content: center;

  color: #0070f3;
}

/*Responsive*/
@media only screen and (max-width: 600px) {
  .container {
    padding: 0;
  }
  .tab p {
    display: none;
  }
}
